/* banner */
.banner{
    background: cyan;
    color: black;
    /* atas, kanan, bawah, kiri */
    padding: 50px; 
    border-radius: 10px;
}

.banner>h1{
    font-size: 50px
}

.banner>p{
    font-size: 20px;
}

/* book CONTENT */

.game-content{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 22px;
}

.game-content>.judul{
    font-size: 19px;
    font-weight: bold;
}

.game-content>.penulis{
    font-size: 14px;
}

.game-content>.jumlah_halaman{
    font-size: 15px;
    margin-top: 10px;
}

.game-content>.tahun_terbit{
    font-size: 15px;
}


/* MANAGE WRAPPER */
.manage-wrapper{
    padding: 30px;
    border-radius: 10px;
}